:root {
  --text: #ffffff;
  --bg: rgba(14, 14, 14, 1);

  --sans: Panell, system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: red;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Panell";
  src: url("./assets/Panell-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PanellExtended";
  src: url("./assets/PanellExtended-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

#app {
  background: var(--bg);
  margin: 0;
  padding: 40px;
  width: 1080px;
  height: 1920px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

h4 {
  font-family: "PanellExtended";
  font-size: 48px;
  line-height: 1;
}

.anotace > p {
  column-count: 2;
  font-family: "Panell";
}

.text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.blueprint,
.leaderboard,
.howtoplay {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 40px;
}

.blueprint > img,
.howtoplay > *,
.leaderboard > * {
  width: calc(50% - 20px);
}

.leaderboard-columns {
  display: flex;
  gap: 40px;
  width: calc(50% - 20px);

  padding-top: 4px;
}

.leaderboard-columns > section {
  flex: 1;
}

.leaderboard h5 {
  font-family: "PanellExtended";
  font-size: 32px;
  line-height: 1;
  margin-bottom: 16px;
  text-transform: lowercase;
}

.leaderboard ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
}

.leaderboard li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  font-family: "Panell";
  font-size: 20px;
  font-variant-numeric: slashed-zero;
  padding: 4px 0;

  border-top: 2px solid var(--text);
}

.leaderboard li:last-child {
  border-bottom: 2px solid var(--text);
}

.leaderboard .rank {
  font-family: "PanellExtended";
  min-width: 2ch;
}

.leaderboard .name {
  flex: 1;
}

.leaderboard .meta {
  opacity: 0.6;
  font-size: 16px;
}

.leaderboard-error {
  color: var(--accent);
}
